<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Generador de Contraseñas</title>
		<style>
			.container {
				text-align: center;
				margin-top: 50px;
			}
			input[type="text"] {
				width: 500px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1
				class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl text-center">
				Your trusted

				<span class="text-transparent bg-clip-text bg-gradient-to-r to-blue-600 from-sky-400">
					password generator
				</span>
			</h1>
			<h2>Generate a unique and secure password in seconds with our password generator.</h2>
			<br />
			<br />
			<button
				id="generateButton"
				class="hover:brightness-110 hover:animate-pulse font-bold py-3 px-6 rounded-full bg-gradient-to-r from-blue-500 to-blue-900 text-white">
				⚡ Generate password
			</button>
			<br />
			<br />
			<br />

			<div class="passwordAndCopyContainer">
				<input type="text" id="password" readonly />
				&nbsp; &nbsp;&nbsp;
				<button
					id="copyButton"
					class="w-28 h-12 text-white font-semibold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg shadow-lg hover:scale-105 duration-200 hover:drop-shadow-2xl hover:shadow-[#7dd3fc] hover:cursor-pointer">
					📋 Copy
				</button>
			</div>
		</div>
	</body>
</html>
