.header {
	margin-top: 40px;
}

h2 {
	font-size: 1.5em; /* Tamaño de fuente mediano */
	color: #777; /* Color del texto */
	text-align: center; /* Centrar el texto */
	margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo de hover para h2 */
h2:hover {
	color: #555; /* Cambiar color al pasar el ratón */
	cursor: pointer; /* Cambiar cursor al pasar el ratón */
}

input {
	border-radius: 50px;
	width: 500px;
	height: 50px;
}

body,
html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

input#password {
	font-size: 25px;
	padding: 20px;
	text-align: center;
	margin-bottom: 10px;
}

button#copyButton {
	display: inline-block;
}

div.passwordAndCopyContainer {
	display: flex;
	justify-content: center;
}
@media screen and (width <= 510px) {
	.container {
		width: 400px;
	}

	input#password {
		width: auto;
	}
}

@media screen and (width <= 320px) {
	.container {
		width: 250px;
	}

	input#password {
		width: 200px;
		font-size: 15px;
	}
}
